recursive-include philtorch *.txt
recursive-include philtorch *.h
recursive-include philtorch *.cpp
recursive-include philtorch *.cuh
recursive-include philtorch *.cu
recursive-include philtorch *.mm
recursive-include third_party *
include README.md
include build_support.py
exclude tests/*
