name: Display version

on:
  push:
    branches: [ "dev", "main", "alpha", "beta" ]
  pull_request:
    branches: [ "dev", "main", "alpha", "beta" ]

permissions:
    contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build "setuptools-git-versioning>=2,<3"
    - name: Display version
      run: |
          setuptools-git-versioning -v >> $GITHUB_STEP_SUMMARY